html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ececec; }
  body canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background: #ffffff;
    box-shadow: 0 0 0.5em 0 rgba(51, 51, 51, 0.3);
    transition: all .2s; }
    body canvas:focus {
      box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.6); }
